.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.after_register input {
  border: none;
  border-color: transparent;
  background-color: #f9f9f9;
  padding-left: 0px;
}

.before_register {
  background-color: white;
  border: solid 1px gray;
}

.after_register .before_register * {
  border: solid black 1px;
  margin: 0;
}

.react-datepicker-wrapper {
  padding-top: 5px;
  padding-left: 40px;
}

.form-label {
  font-weight: bold;
}

.container {
  background-color: #f9f9f9;
}

.react-datepicker-wrapper {
  margin-top: 5px;
}

.project-datepicker {
  margin-left: 30px;
}
